.form {
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  text-align: center;
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  font-size: 16px;
}

.rightDiv {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.messages-list {
  width: 80%;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid gray;
  padding: 10px;
  text-align: left;
}

button {
  background-color: gray;
  color: white;
  cursor: pointer;
}
